<div class="panel panel-primary">
    <div class="panel-heading">Contact Details</div>
    <div class="panel-body ">
        <table class="table table-condensed">
            <tr>
                <th>Email: </th>
                <td>luisaldrin.miraran&#64;letran.edu.ph</td>
            </tr>
            <tr>
                <th>Phone Number:</th>
                <td>+63 9664287847</td>
            </tr>
            <tr>
                <th>Address:</th>
                <td>803 Gold St., Camella Homes 3, Greenheights Village, Sucat, Paranaque</td>
            </tr>
            <tr>
                <th>Facebook: </th>
                <td>Aldrin Miraran</td>
            </tr>
            <tr>
                <th>Instagram:</th>
                <td>louie.miraran</td>
            </tr>
            <tr>
                <th>Twitter:</th>
                <td>Direk Louie / &#64;luis_miraran</td>
            </tr>
        </table>
    </div>
</div>
