<div class="panel panel-primary">
    <div class="panel-heading">Contact Details</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2 text-center">
                <img class="img-responsive img-circle center-block" src="https://cdn-icons-png.flaticon.com/256/124/124010.png" 
                style="width:100px; height:100px; margin: auto;" alt="Facebook">
                <p style="padding-top: 15px; font-weight: bold;">Facebook</p>
                <p style="font-style: italic;">Aldrin Miraran</p>
            </div>
            <div class="col-md-2 text-center">
                <img class="img-responsive img-circle center-block" src="https://cdn-icons-png.flaticon.com/256/1409/1409946.png" 
                style="width:100px; height:100px; margin: auto;" alt="Instagram">
                <p style="padding-top: 15px; font-weight: bold;">Instagram</p>
                <p style="font-style: italic;">louie.miraran</p>
            </div>
            <div class="col-md-2 text-center">
                <img class="img-responsive img-circle center-block" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/X_icon_2.svg/2048px-X_icon_2.svg.png" 
                style="width:100px; height:100px; margin: auto;" alt="Twitter">
                <p style="padding-top: 15px; font-weight: bold;">Twitter</p>
                <p style="font-style: italic;">Direk Louie / &#64;luis_miraran</p>
            </div>
            <div class="col-md-2 text-center">
                <img class="img-responsive img-circle center-block" src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/79020/mail-icon-clipart-md.png" 
                style="width:100px; height:100px; margin: auto;" alt="Email">
                <p style="padding-top: 15px; font-weight: bold;">Email</p>
                <p style="font-style: italic;">luisaldrin.miraran&#64;letran.edu.ph</p>
            </div>
            <div class="col-md-2 text-center">
                <img class="img-responsive img-circle center-block" src="https://static-00.iconduck.com/assets.00/phone-icon-2048x2048-nottqc8j.png" 
                style="width:100px; height:100px; margin: auto;" alt="Contact">
                <p style="padding-top: 15px; font-weight: bold;">Contact</p>
                <p style="font-style: italic;">+63 9664287847</p>
            </div>
            <div class="col-md-2 text-center">
                <img class="img-responsive img-circle center-block" src="https://www.freeiconspng.com/thumbs/address-icon/address-icon-15.png" 
                style="width:100px; height:100px; margin: auto;" alt="Address">
                <p style="padding-top: 15px; font-weight: bold;">Address</p>
                <p style="font-style: italic;">803 Gold St., Camella Homes 3, Greenheights Village, Sucat, Paranaque</p>
            </div>
        </div>
    </div>
</div>