<div class="panel panel-primary">
    <div class="panel-heading">Work Experience</div>
    <div class="panel-body">
        <table class="table table-condensed text-center">
            <tr>
                <th class="text-center p3">Letran Information Technology Society</th>
                <td style="font-weight: bold; padding: 15px;">LITS Staff (A.Y. 2022 - 2023)</td>
            </tr>
            <tr>
                <th></th>
                <td class="text-justify p3">
                    My position involves collaborating with fellow members, leaders, and faculty 
                    advisors to facilitate the organization's activities, events, and initiatives.
                </td>
            </tr>
            <tr>
                <th></th>
                <td style="font-weight: bold; padding: 15px;">President (A.Y. 2023 - 2024)</td>
            </tr>
            <tr>
                <th></th>
                <td class="text-justify p3">
                    My position involves strategic planning, effective communication, and 
                    collaboration with members, leaders, and external stakeholders.
                </td>
            </tr>
            <tr>
                <th class="text-center p3">Oracle Corporation</th>
                <td style="font-weight: bold; padding: 15px;">Database Administrator (2025 - 2027)</td>
            </tr>
            <tr>
                <th></th>
                <td class="text-justify p3">
                    I'm responsible for managing and maintaining an organization's database systems, 
                    ensuring optimal performance, security, and reliability. This role involves designing, implementing, 
                    and supporting database solutions that meet the needs of the business while adhering to best 
                    practices and industry standards.
                </td>
            </tr>
            <tr>
                <th class="text-center p3">Google Philippines</th>
                <td style="font-weight: bold; padding: 15px;">Fullstack Developer (2027 - Present)</td>
            </tr>
            <tr>
                <th></th>
                <td class="text-justify p3">
                    I'm responsible for designing, developing, and maintaining both the front-end and back-end 
                    components of web applications. This role involves working with various technologies to create 
                    seamless and responsive user experiences while ensuring the functionality and efficiency of 
                    the entire application stack.
                </td>
            </tr>
        </table>
    </div>
</div>