<div class="panel panel-primary">
    <div class="panel-heading">Work Experience</div>
    <div class="panel-body ">
        <table class="table table-condensed">
            <tr>
                <th>School Organization: </th>
                <td>Letran Information Technology Society</td>
            </tr>
            <tr>
                <th></th>
                <td>LITS Staff (A.Y. 2022 - 2023)</td>
            </tr>
            <tr>
                <th></th>
                <td>President (A.Y. 2023 - 2024)</td>
            </tr>
        </table>
    </div>
</div>
