<body class="bg-info" style="margin:0; padding: 15px;">
    <nav style="margin: 15px;">
        <button class="btn-primary"><a href="#profile" style="color: white; text-decoration: none;">Profile</a></button> |
        <button class="btn-primary"><a href="#contact" style="color: white; text-decoration: none;">Contact</a></button> |
        <button class="btn-primary"><a href="#education" style="color: white; text-decoration: none;">Education</a></button> |
        <button class="btn-primary"><a href="#work" style="color: white; text-decoration: none;">Work Experience</a></button>
    </nav>
    <app-profile id="profile"></app-profile>
    <app-contact id="contact"></app-contact>
    <app-education id="education"></app-education>
    <app-work id="work"></app-work>
</body>
