<img src="https://static.vecteezy.com/system/resources/previews/007/385/559/non_2x/flat-design-work-table-1-for-copy-space-in-blue-background-space-for-add-text-announcement-advertisement-massage-and-other-free-vector.jpg" alt="Chicago">
<hr>

<div class="panel panel-primary">
    <div class="panel-heading">Personal Profile</div>
    <div class="panel-body ">
        <table class="table table-condensed">
            <tr>
                <th>First Name: </th>
                <td>Luis Aldrin</td>
            </tr>
            <tr>
                <th>Last Name:</th>
                <td>Miraran</td>
            </tr>
            <tr>
                <th>Birthday:</th>
                <td>February 6, 2001</td>
            </tr>
            <tr>
                <th>Age:</th>
                <td>22</td>
            </tr>
            <tr>
                <th>Civil Status: </th>
                <td>Single</td>
            </tr>
            <tr>
                <th>Religion: </th>
                <td>Catholic</td>
            </tr>
        </table>
    </div>
</div>

